$default-color: #e0e0e0;
$hover-color: #ffcd00;
$clicked-color: #ff951c;
$colored-from: rgba(156,248,81,1);
$colored-stop: rgba(44,194,24,1);
$colored-to: rgba(139,218,26,1);
$btn-from: rgba(242,242,242,1);
$btn-to: rgba(226,226,226,1);